<!DOCTYPE html>
{% load staticfiles %}
<html>
<head>
  <meta charset="utf-8">
  <title>{% block title %}Django Simple Login{% endblock %}</title>
  <script>
    var static_url = '{{STATIC_URL}}'
  </script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.5/angular.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.5/angular-resource.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.5/angular-route.min.js"></script>
  <script src="{% static 'angularapp/js/app.js' %}"></script>
  <script src="../static/angularapp/js/bower_components/webcamjs/webcam.js"></script>

  <script src="../static/angularapp/js/bower_components/textAngular/dist/textAngular-rangy.min.js"></script>
  <script src="../static/angularapp/js/bower_components/textAngular/dist/textAngular-sanitize.js"></script>
  <script src="../static/angularapp/js/bower_components/textAngular/dist/textAngular.min.js"></script>
</head>
<body>
  <header>
    <h1>Django Simple Login</h1>
    {% if user.is_authenticated %}
      Hi {{ user.username }}!
      <a href="{% url 'logout' %}">logout</a>
    {% else %}
      <a href="{% url 'login' %}">login</a>
    {% endif %}
  </header>
  <hr>
  <main>
    {% block content %}
    {% endblock %}
  </main>
  <hr>
  <!-- <footer>
    <a href="http://simpleisbetterthancomplex.com">simpleisbetterthancomplex.com</a>
  </footer> -->
</body>
</html>